@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
